# -------------------------------------------------------------------------------------------------------------------------------------------------- #
# Ignored Folders
# -------------------------------------------------------------------------------------------------------------------------------------------------- #
/source
# -------------------------------------------------------------------------------------------------------------------------------------------------- #
# Ignored Files
# -------------------------------------------------------------------------------------------------------------------------------------------------- #